body {
	background-color: #006699;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	color: white;
	margin: 0 auto;
	position: relative;
}
.wrapper {
	width: 80%;
	margin: auto; /* to center a div.wrapper */
	background-image: url("../img/digital_space.jpg");
	position: absolute;
	top: 0px; left: 10%; right: 10%;

}
#upper_nav {
	display: block;
	position: absolute;
	top: 0px;
	width: 100%; top: 0px;
	margin: 0px;
	padding: 0px;
	background-color: darkblue;

}
.upper_nav li {
	list-style-type: none;
	display: inline;
	padding: 13%;

}
.upper_nav a {
	text-decoration: none;
	color: white;

}
h1, h2, h3 {
	text-align: center;
	margin-top: 10%;
}
img {
	float: left;
	width: 20%;
	margin: 20px 20px;
}

p {
	margin: 20px 20px;
}

#signature {
	text-align: right;
	margin: 40px 20px 0px 0px;
	font-weight: bold;
	font-style: italic;
}
main {
	float: left;
	width: 70%;
}
aside {
	float: right;
	width: 25%;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px 20px;
	overflow: auto;
}

footer {
	clear: both;
	text-align: left;
	margin-left: 20px;
}

#blog_list li {
	margin-bottom: 50px;
	line-height: 1,5;
}
