.header {

}
body {
	background-image: url("c:/MyGit/tester_repo/img/hi_tech.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	font-family: Times New Roman; color: white; font-size: 14;
}
#my_avatar {
  display: block;
  margin-left: none;
  margin-right: auto;
  width: 15%;
}

nav ul {
	list-style: none;
	
}